In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df=pd.read_csv('/home/akash/Documents/100days of coding/001_My_ML/SVR/HeightVsWeight.csv')
df.head()

   Age  Height
0   10     138
1   11     138
2   12     138
3   13     139
4   14     139

In [3]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [4]:
import pandas as pd 
import numpy as np 
df=pd.DataFrame(np.arange(25).reshape(5,5),index=['r1','r2','r3','r4','r5'],columns=['c1','c2','c3','c4','c5'])
df

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19
r5  20  21  22  23  24

In [5]:
type(df.loc['r1'])

pandas.core.series.Series

In [6]:
df.iloc[1:,1:]

    c2  c3  c4  c5
r2   6   7   8   9
r3  11  12  13  14
r4  16  17  18  19
r5  21  22  23  24

In [7]:
df.isnull().sum()

c1    0
c2    0
c3    0
c4    0
c5    0
dtype: int64

In [8]:
df['c1'].value_counts()

0     1
10    1
20    1
5     1
15    1
Name: c1, dtype: int64

In [9]:
df['c1'].unique

<bound method Series.unique of r1     0
r2     5
r3    10
r4    15
r5    20
Name: c1, dtype: int64>

In [10]:
df[['c1','c4']]