In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df=pd.read_csv('/home/akash/Documents/100days of coding/001_My_ML/SVR/HeightVsWeight.csv')
df.head()

   Age  Height
0   10     138
1   11     138
2   12     138
3   13     139
4   14     139

In [5]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values